In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import pickle

In [17]:
df = pd.read_csv('CROP DATA-1.csv')
df

    S.NO           CROP  CROP ID    soil wheater   water resource  crop yeild
0      1          WHEAT       22   loamy     cool               1        2.70
1      2         BARLEY       32   loamy      hot               1        1.90
2      3         POTATO       21   sandy     mild               1        2.80
3      4        MUSTRAD       34   sandy     cool               1        1.10
4      5       CHICKPEA       99   black     mild               1        1.90
5      6      SUNFLOWER        9   black      hot               1        4.40
6      7    SWEET COIRN        0   sandy      hot               1        3.40
7      8         PUMKIN       98   loamy     cool               1        8.90
8      9         PEPPER       77   sandy     mild               1        9.48
9     10          ONION       67   black     cool               1        6.30
10    11         CARROT       54   sandy      hot               1        0.16
11    12          BEANS       34   loamy     cool               1        1.10
12    13   BITTER GOURD       21   loamy     mild               1        2.70
13    14  BOTTRLE GOURD       64   sandy     mild               1        7.16
14    15        BRINJAL       78   black     cool               1        5.70
15    16   GREEN CHILLI       91   black     mild               1        1.15
16    17       CUCUMBER       23   loamy     cool               1        2.40
17    18        SPINACH       88   black     mild               1        1.15
18    19         MAIZE        43   sandy     cool               1        0.70
19    20          JOWER       42   sandy      hot               1        0.90
20    21         COTTON       76   loamy      hot               1        0.48
21    22           RAGI       75   loamy      hot               1        0.48
22    23          BAJRA       49   black     cool               1        0.75
23    24      SUGARCANE       50   black     mild               1        0.70
24    25           JUTE       12   black     mild               1        3.17
25    26           RICE        2   black     cool               1        6.90
26    27          WHEAT        6   black     mild               1        4.40
27    28         MAIZE         8   loamy     cool               1        4.41
28    29        MILLETS       30   loamy      hot               1        1.90
29    30          PULES      101   loamy     mild               1        1.99
30    31         COTTON      201   sandy      hot               1        2.60
31    32           JUTE      202   black      hot               1        2.90
32    33        TOBACCO      203   loamy     mild               1        3.40
33    34      OIL SEEDS      155   black      hot               1        4.20
34    35            TEA      145   loamy     mild               1        9.10
35    36         COFFEE      132   sandy      hot               1        4.20
36    37        COCONUT      234  black       hot               1        7.30
37    38         RUBBER      345   black      hot               1        0.00
38    39          MOONG      222   sandy     mild               1        8.70
39    40     GROUND NUT      343   sandy     mild               1        6.30
40    41       SOYABEAN      323   black     cool               1        7.20
41    42           URAD        1   loamy     cool               1        4.30
42    43          APPLE        3   loamy     mild               1        4.40
43    44        PAPPAYA        4   black     mild               1        4.40
44    45          GUAVA        5   loamy      hot               1        4.40
45    46         BANANA        7   sandy      hot               1        4.41
46    47         ORANGE        8   sandy     cool               1        4.41
47    48   DRAGON FRUIT      402   sandy     mild               1        9.20
48    49         SAPOTA      401   loamy     mild               1        3.10
49    50          GRAPS      444   loamy     cool               1        2.90

In [18]:
df.shape

(50, 7)

In [19]:

df = df.replace({'soil':{'black':1,'loamy':2,'sandy':3},'wheater':{'hot':1,'cool':2,'mild':3}})
df.head()

   S.NO      CROP  CROP ID soil wheater   water resource  crop yeild
0     1     WHEAT       22    2     cool               1         2.7
1     2    BARLEY       32    2      hot               1         1.9
2     3    POTATO       21    3     mild               1         2.8
3     4   MUSTRAD       34    3     cool               1         1.1
4     5  CHICKPEA       99    1     mild               1         1.9

In [20]:
df.isnull().sum()

S.NO              0
CROP              0
CROP ID           0
soil              0
wheater           0
water resource    0
crop yeild        0
dtype: int64

In [21]:
df = df.select_dtypes(include =['int64','float64'])
df

    S.NO  CROP ID  water resource  crop yeild
0      1       22               1        2.70
1      2       32               1        1.90
2      3       21               1        2.80
3      4       34               1        1.10
4      5       99               1        1.90
5      6        9               1        4.40
6      7        0               1        3.40
7      8       98               1        8.90
8      9       77               1        9.48
9     10       67               1        6.30
10    11       54               1        0.16
11    12       34               1        1.10
12    13       21               1        2.70
13    14       64               1        7.16
14    15       78               1        5.70
15    16       91               1        1.15
16    17       23               1        2.40
17    18       88               1        1.15
18    19       43               1        0.70
19    20       42               1        0.90
20    21       76               1        0.48
21    22       75               1        0.48
22    23       49               1        0.75
23    24       50               1        0.70
24    25       12               1        3.17
25    26        2               1        6.90
26    27        6               1        4.40
27    28        8               1        4.41
28    29       30               1        1.90
29    30      101               1        1.99
30    31      201               1        2.60
31    32      202               1        2.90
32    33      203               1        3.40
33    34      155               1        4.20
34    35      145               1        9.10
35    36      132               1        4.20
36    37      234               1        7.30
37    38      345               1        0.00
38    39      222               1        8.70
39    40      343               1        6.30
40    41      323               1        7.20
41    42        1               1        4.30
42    43        3               1        4.40
43    44        4               1        4.40
44    45        5               1        4.40
45    46        7               1        4.41
46    47        8               1        4.41
47    48      402               1        9.20
48    49      401               1        3.10
49    50      444               1        2.90

In [22]:
x = df[['S.NO']].values
y1 = df['CROP ID'].values

In [23]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y1_train,y1_test = train_test_split(x,y1,random_state=5)

In [24]:
from sklearn.tree import DecisionTreeRegressor
dt1=DecisionTreeRegressor(random_state=0,criterion="absolute_error")
dt1.fit(x_train,y1_train)
pre1 = dt1.predict(x_test)

In [25]:
from sklearn.metrics import r2_score
r2_score(y1_test,pre1)

0.5563288802408282

In [26]:
print(dt1.predict([[30]]))

[201.]

In [29]:
y2 = df['water resource'].values

In [30]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y2_train,y2_test = train_test_split(x,y2,random_state=5)

In [31]:
from sklearn.tree import DecisionTreeRegressor
dt2=DecisionTreeRegressor(random_state=0,criterion="absolute_error")
dt2.fit(x_train,y2_train)
pre2 = dt2.predict(x_test)

In [32]:
from sklearn.metrics import r2_score
r2_score(y2_test,pre2)

1.0

In [33]:
print(dt2.predict([[30]]))

[1.]

In [37]:
y3 = df['water resource'].values

In [38]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y3_train,y3_test = train_test_split(x,y3,random_state=5)

In [39]:
from sklearn.tree import DecisionTreeRegressor
dt3=DecisionTreeRegressor(random_state=0,criterion="absolute_error")
dt3.fit(x_train,y3_train)
pre3 = dt3.predict(x_test)

In [40]:
from sklearn.metrics import r2_score
r2_score(y3_test,pre3)

1.0

In [41]:
print(dt3.predict([[30]]))

[1.]

In [42]:
y4 = df['crop yeild'].values

In [43]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y4_train,y4_test = train_test_split(x,y4,random_state=5)

In [44]:
from sklearn.tree import DecisionTreeRegressor
dt4=DecisionTreeRegressor(random_state=0,criterion="absolute_error")
dt4.fit(x_train,y4_train)
pre4 = dt4.predict(x_test)

In [45]:
from sklearn.metrics import r2_score
r2_score(y4_test,pre4)

0.12516876196149052

In [46]:
print(dt4.predict([[30]]))

[2.6]

In [47]:
pickle.dump(dt1,open('model1.pkl','wb'))
model=pickle.load(open('model1.pkl','rb'))

In [48]:
pickle.dump(dt2,open('model2.pkl','wb'))
model=pickle.load(open('model2.pkl','rb'))

In [49]:
pickle.dump(dt3,open('model3.pkl','wb'))
model=pickle.load(open('model3.pkl','rb'))

In [50]:
pickle.dump(dt4,open('model4.pkl','wb'))
model=pickle.load(open('model4.pkl','rb'))